build/

libgodot_framework/libgodot.xcodeproj/project.xcworkspace/xcuserdata/
libgodot_framework/libgodot/libgodot.a

.DS_Store
samples/elixir_sample/_build/
samples/elixir_sample/priv/
samples/elixir_sample/deps/
.DS_Store
samples/elixir_sample/doc/
